body {
    margin: 0;
    padding: 0;
}

#board {
    background-color: rgb(137, 209, 235);
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#player {
    background-color: aquamarine;
    position: absolute;
}

.obstacle {
    background-color: black;
    position: absolute;
}

#page-gameover {
    text-align: center;
    background-color: rgb(172, 160, 184);
}